.calendar_container
  .row
    .small-6.columns
      %h1= t(:calendar)

      = link_to t(:submit_new_event), new_event_path, :class => [:button, :radius, :small]
    .small-6.columns#calendar_legend
      - Eventtype.all.each do |et|
        %p{:style => "background-color: ##{et.colour_code}"}= et.name


  .row
    .small-12.columns#event_calendar= raw(event_calendar)
