= semantic_form_for([:admin, @randombackground], :html => {:"data-abide" => "", :multipart => true}) do |f|
  .row
    .small-12.columns= f.input :background, :input_html => { :required => @randombackground.background? ? false : ''}, :hint => '1920px wide, at least'
  .row
    .small-12.columns= f.input :active, :hint => t(:untick_to_hide)
  .row
    .small-5.columns= f.submit t(:save), :class => [:button, :radius, :small]