.project_container
  .row
    .small-12.column  
      %h2= t :projects
  .row
    .small-12.columns
      %p= t :projects_blurb
  .row.project_index
    .small-10.columns
      - @active.sort_by{|x| x.last_activity_sort}.reverse.each do |project|
        .project= render :partial => 'project', locals: {project: project}

.project_container      
  .row
    .small-10.columns
      %h3 Archived projects
  .row.project_index
    .small-10.columns
      - @archived.sort_by{|x| x.last_activity_sort}.reverse.each do |project|
        .project= render :partial => 'project', locals: {project: project}      