.page_container
  .row
    .small-9.columns
      %h3= @post.title
  
  .row
    .small-9.columns
      = t(:posted_by, :poster => @post.creator.name, :when =>  l(@post.published_at, :format => :long))

  .row.body
    .small-9.columns
      = raw @post.body