/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require places
 *= require foundation_and_overrides

 */

@import 'variables';
@import 'foundation_and_overrides';

header {
  background: url(/assets/cropped-panorama-okko.jpg)  no-repeat center center;
  background-size: cover;
  min-height: 360px;
  &.home {
    background: none;
    min-height: 0px;
    #logo, .tagline { 
      display: none;
    }
  }
  
  #logo {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  
  .tagline {
    text-transform: uppercase;
    color: white;
    p { font-size: 1.3rem;
       font-weight: 400;
       font-family: $raleway;
     }
    margin: 20px 0px 0px 0px;
  }
}

.language {
  padding-left: 3em;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: white;
  float: left;
  a {
    color: $secondary-color;
  }
}
#flash {
  min-height: 25px;
  background-color: red;
  color: white;
  font-size: 1.1em;
  padding: 5px 0px;
  div {
    text-align: center !important;
  }
}

.title-card {
  z-index: 1;
  width: 100%;
  height: 100%;  
  text-align: center;
  z-index: 1;
  background: url(/assets/cropped-panorama-okko.jpg)  no-repeat center 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 25vH;
  #moresite {
    margin-top: 50px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: normal;
    padding: 10px 25px;
    display: inline-block;
    background: transparent;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    border-color: #cccccc;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &:hover {
      text-decoration: none;
      outline: 0;
    }
  }
  #logo {
    -webkit-animation: dropHeader 1 0.75s ease-in;
    -moz-animation: dropHeader 1 0.75s ease-in;
    -o-animation: dropHeader 1 0.75s ease-in;
    animation: dropHeader 1 0.75s ease-in;
  }
  .tagline {
    text-transform: uppercase;
    color: white;
    p { font-size: 1.3rem;
       font-weight: 400;
       font-family: $raleway;
     }
    margin: 20px 0px 0px 0px;
  }
}

#front_map {
  width: 100%;
  height: 500px;
}

#introduction {
  padding: 60px 48px;

  &:before { 
    width: 50%;
    margin-left: 25%;
    content: "";
    display: block;
    height: 20px;
    border-top: 5px solid #eee; 
  }
  &:after {
    width: 40%;
    margin-left: 30%;
    height: 30px;
    border: 0;
    border-bottom: 3px solid #eee;
  }
}

form {
  label.label {
    background: none !important;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem 0.25rem 0rem;
    color: #555;
  }
  li {
    list-style-type: none;
    &.boolean {
      input {
        margin-right: 0.45rem;
      }
    }
  }
  p.inline-hints {
    margin-top: -15px;
    font-size: 0.8rem;
  }
}

.post {
  padding-top: 35px;
  .body {
    margin-top: 25px;
  }
}
