/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require places
 *= require projects
 *= require foundation_and_overrides
 *= require punymce/editor

 */

@import 'variables';
@import 'foundation_and_overrides';
@import 'slick';

@font-face {
  font-family: "Kankin";
  src: url(/assets/Kankin.otf) format("truetype");
}


span.translation_missing {
  background-color: red;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}


header {
  background: url(/assets/cropped-panorama-okko.jpg)  no-repeat center center;
  background-size: cover;
  min-height: 360px;
  &.home {
    background: none;
    min-height: 0px;
    #logo, .tagline { 
      display: none;
    }
  }
  
  #logo {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  
  .tagline {
    text-transform: uppercase;
    color: white;
    p { font-size: 1.3rem;
       font-weight: 400;
       font-family: $raleway;
     }
    margin: 20px 0px 0px 0px;
  }
}

body.places {
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  header {
    display: none;
  }
}
.language {
  padding-left: 3em;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: white;
  float: left;
  a {
    color: $secondary-color;
  }
}
#flash {
  min-height: 25px;
  background-color: red;
  color: white;
  font-size: 1.1em;
  padding: 5px 0px;
  div {
    text-align: center !important;
  }
}

.title-card {
  z-index: 1;
  width: 100%;
  height: 100%;  
  text-align: center;
  z-index: 1;
  background: url(/assets/cropped-panorama-okko.jpg)  no-repeat center 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10vH 0px;

  #logo {
    -webkit-animation: dropHeader 1 0.75s ease-in;
    -moz-animation: dropHeader 1 0.75s ease-in;
    -o-animation: dropHeader 1 0.75s ease-in;
    animation: dropHeader 1 0.75s ease-in;
  }
  .tagline {
    text-transform: uppercase;
    color: white;
    p { font-size: 1.3rem;
       font-weight: 400;
       font-family: $raleway;
     }
    margin: 20px 0px 0px 0px;
  }
  form {

    input[type=text] {
      float: left;
      width: 80%;
      height: 40px;
    }
    input[type=submit] {
      background-color: $secondary-color;
      border: none;
      outline: none;
      float: left;
      height: 40px;
      width: 40px;
    }
  }
}

#latest_posts {
    padding: 35px 0px;
    border-bottom: 3px solid #eee;

  h4 {
    font-size: 1.2rem;
    margin-bottom: 3px;
  }
  .metadata {
    font-size: 0.7rem;
    color: #333;
    margin-bottom: 5px;
  }
  .body {
    p {
      font-size: 0.85rem;
      color: #666;
      margin-bottom: 5px;
    }
    margin-bottom: 0px;
  }
  .read_more {
    a {
      font-size: 0.9rem;
    }
  }
}

#map_section {
    padding: 35px 0px;
  #front_map {
    margin-top: 25px;
    width: 100%;
    height: 500px;
  }
}

#introduction {
  padding: 60px 48px 10px 48px;
  #moresite {
    margin-top: 10px;
    border: 1px solid #fff;
    color: #666;
    font-weight: normal;
    padding: 10px 25px;
    display: inline-block;
    background: transparent;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    border-color: #cccccc;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &:hover {
      text-decoration: none;
      outline: 0;
    }
  }
  &:before { 
    width: 50%;
    margin-left: 25%;
    content: "";
    display: block;
    height: 20px;
    border-top: 5px solid #eee; 
  }
  &:after {
    width: 40%;
    margin-left: 30%;
    height: 30px;
    border: 0;
    border-bottom: 3px solid #eee;
  }
}

#three_across {
  padding: 50px 0px;
  border-bottom: 1px solid #eee;
  img {
    text-align: center;
    max-height: 200px;
  }
  p {
    color: #666;
    padding: 0em 2em;
  }
}

form {
  label.label {
    background: none !important;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem 0.25rem 0rem;
    color: #555;
  }
  li {
    list-style-type: none;
    &.boolean {
      input {
        margin-right: 0.45rem;
      }
    }
  }
  p.inline-hints {
    margin-top: -15px;
    font-size: 0.8rem;
  }
}

.post {
  padding-top: 35px;
  .body {
    margin-top: 25px;
  }
}


.project_container, .posts_container, .page_container, .place_container {
  padding: 35px 0px;
}