/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require places
 *= require projects
 *= require foundation-datepicker
 *= require foundation_and_overrides
 *= require punymce/editor
 *= require event_calendar
 *= require font-awesome
 */
p, h1, h2, h3, h4, h5, h6, body {
  color: #555 !important;
}
@import 'variables';
@import 'foundation_and_overrides';
@import 'slick';

@font-face {
  font-family: "Kankin";
  src: url(/assets/Kankin.otf) format("truetype");
}


span.translation_missing {
  background-color: red;
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.top-bar-section .dropdown li {
  height: 2.7rem !important;
}

body.admin {
  header { padding: 0px 0px 20px 0px;}
}

// don't clobber reCAPTCHA
#recaptcha_area input[type="text"] {
  display: inline-block;
  height: auto;
}

#recaptcha_area { 
  margin: 20px 0px;
}

header {

  padding: 20px 0px;
  min-height: 230px;
  #logo {

    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    img {
      max-height: 150px;
    }
  }
  .tagline {
    color: #FFF !important;
    font-weight: normal;
    font-size: 1.3rem;
    margin:15px 0px;
  }


  &.home {
    
    background: none;
    min-height: 0px;
    #logo, .tagline { 
      display: none;
    }
  }
  

}

body {
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.language {
  padding-left: 3em;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: white;
  float: left;
  a {
    color: $secondary-color;
  }
}
#flash {
  min-height: 25px;
  background-color: red;
  color: white;
  font-size: 1.1em;
  padding: 5px 0px;
  div {
    text-align: center !important;
  }
}

#yield {
  background-color: white;
  margin-bottom: 35px;
}

.indented {
  margin: 1.1rem;
  ul {
    margin-left: 0px;
  }
}
.title-card {
  z-index: 1;
  width: 100%;
  height: 100%;  
  text-align: center;
  z-index: 1;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 10vH 0px;

  #logo {
    -webkit-animation: dropHeader 1 0.75s ease-in;
    -moz-animation: dropHeader 1 0.75s ease-in;
    -o-animation: dropHeader 1 0.75s ease-in;
    animation: dropHeader 1 0.75s ease-in;
  }
  .tagline {

    color: white !important;
    p { font-size: 1.3rem;
       font-weight: 400;
       font-family: $raleway;
       color: white !important;
     }
    margin: 20px 0px 0px 0px;
  }


  input[type=text] {
    float: left;
    width: 80%;
    height: 40px;
  }
  input[type=submit] {
    background-color: $secondary-color;
    background: url(/assets/spyglass.png) no-repeat center center;
    border: none;
    outline: none;
    float: left;
    height: 40px;
    width: 40px;
  }

}

#latest_posts {

  padding: 35px 0px;
  border-bottom: 3px solid #eee;
  h3 {
    margin-bottom:35px;
  }
  h4 {
    font-size: 1.2rem;
    margin-bottom: 3px;
    margin-top: 25px;
  }
  .metadata {
    font-size: 0.7rem;
    color: #333;
    margin-bottom: 5px;
  }
  .body {
    p {
      font-size: 0.85rem;
      color: #666;
      margin-bottom: 5px;
    }
    margin-bottom: 0px;
  }
  .read_more {
    a {
      font-size: 0.9rem;
    }
  }
}

#event_map {
  height: 300px;
  width: 100%;
  margin-top: 15px;
}

#map_section {
    padding: 35px 0px;
  #front_map {
    margin-top: 25px;
    width: 100%;
    height: 500px;
  }
  #map_sidebar {
    display: none;
    position: absolute;
    top: 70px;
    left: 105px;

    min-width: 100px;
    max-width: 480px;
    height: auto;
    
    .title {
      background-color: white;
      border:none;
      padding: 5px;
      font-size: 0.8rem;
    }
    ol.hits-list {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        border-top: 0;
        margin-bottom: 3px;
        font-size: 0.75rem;
        background-color: white;
        border: none;
        padding: 4px;
        a {
          color: #009999;
        }
      }
      
    }
  }
}


#introduction {
  padding: 60px 48px 10px 48px;
  #moresite {
    margin-top: 10px;
    border: 1px solid #fff;
    color: #666;
    font-weight: normal;
    padding: 10px 25px;
    display: inline-block;
    background: transparent;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    border-color: #cccccc;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &:hover {
      text-decoration: none;
      outline: 0;
    }
  }
  &:before { 
    width: 50%;
    margin-left: 25%;
    content: "";
    display: block;
    height: 20px;
    border-top: 5px solid #eee; 
  }
  &:after {
    width: 40%;
    margin-left: 30%;
    height: 30px;
    border: 0;
    border-bottom: 3px solid #eee;
  }
}

#three_across {
  padding: 50px 0px;
  border-bottom: 1px solid #eee;
  img {
    text-align: center;
    max-height: 200px;
  }
  p {
    color: #666;
    padding: 0em 2em;
  }
}

form {
  label.label {
    background: none !important;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem 0.25rem 0rem;
    color: #555;
  }
  li {
    list-style-type: none;
    &.boolean {
      input {
        margin-right: 0.45rem;
      }
    }
  }
  p.inline-hints {
    margin-top: -15px;
    font-size: 0.8rem;
  }
  p.inline-errors {
    color: red;
    font-weight: 800;
    font-size: 1.2rem;
  }
}

.post {
  padding: 35px 0px;
  .body {
    margin-top: 25px;
  }
  .metadata {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 1rem;
    font-style: italic;
  }
  border-bottom: 1px dotted #333;
}
.post_standalone {
  padding: 35px 0px;
  .metadata {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 1rem;
    font-style: italic;
  }
}


.posts_container,  .place_container, .event_container {
  padding: 35px 0px;
  
  .description, .contact {
    margin: 15px 0px;
  }
  .contact_button {
    margin-top: 1.1rem;
  }
}

.project_container {
  padding: 25px;
}

.page_container {
  padding: 50px 25px;
}
footer {
  background-color: #444;
  color: #FFF;
  padding: 40px 0px;
  p {
    color: #ABABAB !important;
    margin: 0px 0px 5px 0px;
    font-size: 0.8rem;
    line-height: 1rem;
    a {
      color: #ABABAB;
    }
  }
}

.calendar_container {
  padding: 35px 0px;
}