/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery-ui/sortable

 */
@import 'foundation_and_overrides';
@import 'variables';

header {
  background: none;
  min-height: 160px;
  overflow:hidden;
  #logo {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  
  .tagline {
    text-transform: uppercase;
    color: black;
    p { font-size: 1.3rem;
       font-weight: 400;
       font-family: $raleway;
     }
    margin: 20px 0px 0px 0px;
  }
}
.submenu_cms {
  padding: 15px;
}
.number {
  font-size: 2.2em;
  font-weight: bold;
  float: left;
  margin-right: 10px;
}
.cms_grid {

  .menu_item {
    border: 2px dotted $secondary-color;
    padding: 5px;
    margin: 10px 0px;
    p {
      margin: 2px 0px;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  .submenu_item {
    float: left;
    border: 1px solid $secondary-color;
    padding: 3px;
    margin-right: 3px;
    p {
      margin: 2px 0px;
    }
  }
}  


form {
  label.label {
    background: none !important;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem 0.25rem 0rem;
    color: #555;
  }
  li {
    list-style-type: none;
    &.boolean {
      input {
        margin-right: 0.45rem;
      }
    }
  }
  p.inline-hints {
    margin-top: -15px;
    font-size: 0.8rem;
  }
}