@import 'foundation_and_overrides';
@import 'variables';

#map {
  width: 548px;
  height: 350px;
}

.gmnoprint img {
    max-width: none; 
}

.false_header {
  padding: 20px 0px;
  margin-top: 50px;
  #logo {
    img {
      max-height: 150px;
    }
  }
  .tagline {
    color: #FFF;
    font-weight: bold;
  }
}

.place_container {
  background-color: white;
  padding: 15px 25px;
  
  h1 {
    font-family: 'Kankin';
    color: #009999;
    font-size: 4.8rem;
  }
  
  .description {
    color: #666;
  }
  
  h2 {
    font-family: 'Georgia';
    color: #ff6600;
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  h3 {
    font-family: 'Georgia';
    font-size: 1.7rem;
    color: #FFF;
    font-weight: bold;
  }
  .facts_box {
    padding: 8px;
    margin: 25px 0px;
    background-color: #009999;
    color: white;
  }
}

.photo_container {
  margin-bottom: 30px;
}