@import 'foundation_and_overrides';
@import 'variables';

#map {
  width: 548px;
  height: 350px;
}

.gmnoprint img {
    max-width: none; 
}



.place_container {
  background-color: white;
  padding: 15px 25px;
  
  h1 {
    font-family: 'Kankin';
    color: #009999;
    font-size: 4.8rem;
  }
  
  .description {
    margin-top: 0px;
    color: #666;
  }
  
  h2 {
    font-family: 'Georgia';
    color: #ff6600;
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  h3 {
    font-family: 'Georgia';
    font-size: 1.7rem;
    color: #FFF;
    font-weight: bold;
  }
  .facts_box {
    padding: 8px;
    margin: 25px 0px;
    background-color: #009999;
    color: white;
  }
}

.photo_container {
  margin-bottom: 30px;
}
#wide_map {
  width: 100%;
  height: 100%;
}
#map_logo {
  top: 115px;
  z-index: 999;
  width: 700px;
  margin-left: -350px;
  left:50%;
  position: fixed;
}

#places_list {
  position:fixed;
  left: 10px;
  top: 60px;
  z-index: 23;

  ul.hits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    
    a {
      li {
        border-top: 0;
        margin-bottom: 3px;
        font-size: 0.75rem;
        background-color: #333;
        border: none;
        padding: 4px;
        color: white;
      }
      &:hover {
        li {
          background-color: #666;
        }
      }
    }
  }
}
