@import 'foundation_and_overrides';
@import 'variables';

.forum {
  .row {
    padding: 10px;
    border: 1px solid $secondary-color;
  }
}

.project_post  {
  h4 {
    margin-bottom: 0px;
  }
  .metadata {
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
  }
  
  .body {
    margin: 10px 0px;
  }
  
  .comments {
    margin-top: 35px;
    
    .comment {
      padding: 10px 0px;
      border-bottom: 1px dotted $secondary-color;
      .metadata {
        font-size: 0.8rem;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}

.project_index {
  .project {
    padding: 20px 0px;
    border-bottom: 1px solid $secondary-color;
    
    .title {
      font-weight: 500;
      font-size: 1.2rem;
    }
    .tagline {
      font-size: 0.9rem;
      font-weight: 300;
      color: #666;
      padding: 10px 0px;
    }
    .controls {
      .button.tiny {
         font-size: 0.55rem;
      }
    }
    .latest_post {
      margin: 10px 0px;
      font-size: 0.9rem;
    }
  }
}

#announcements {
  .post {
    padding: 10px 0px;
    border-bottom: 1px solid $secondary-color;
    .title {
      font-size: 1.1rem;
    }
    .metadata {
      font-weight: 300;
      font-size: 0.85rem;
      color: #666;
      margin-bottom: 10px;
    }
    .excerpt {
      margin-bottom: 15px;
    }
    .read_more a {
      font-weight: 700;
      &:hover {
        color: $secondary-color;
      }
      font-size: 0.9rem;
    }
  }
}
